body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 150%;
    color: #ddd;
    margin: 0;
    background-color: #333;
}

.title {
    background-color: #222;
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left {
    height: inherit;
    display: flex;
    align-items: center;
}

#right {
    height: inherit;
    display: flex;
    align-items: center;
}

.right-link {
    margin-right: 50px;
}

#title-text {
    text-align: center;
}

#title-img {
    height: inherit;
    margin-right: 33px;
    margin-left: 10px;
    border: 36px solid #333;
    background-color: #333;
    border-radius: 100%;
}

.the-rest {
    padding: 40px;
}

iframe {
    width: 700px;
    height: 700px ;
    max-width: 100%;
}

#button-img {
    width: 700px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sully-img {
    margin-bottom: 20px;
}

.round-corners {
    border-radius: 12px;
}

input[type=text] {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 100%;
    padding: 10px;
    border: 0px solid #444;
    border-radius: 12px;
    background-color: #444;
    color: #ddd;
}

a {
    color: #aaf;
    text-decoration: none;
}