:root {
    --col-bg: rgb(20, 14, 30);
    --col-bg-light: rgb(38, 25, 60);
    --col-light: rgb(237, 247, 248);

    --color-blue: rgb(31, 0, 153);
    --color-pink: rgb(173,14,95);
    --color-green: rgb(17, 111, 51);
    --color-green-light: rgb(135, 244, 204);
    --color-red-dark: rgb(44, 7, 34);
    --color-red: rgb(247, 66, 66);

    --gradient-col: linear-gradient(10deg, var(--color-one), var(--color-two));
    --gradient-gray: linear-gradient(var(--col-bg-light), var(--col-bg));
    
    --border-radius: 1.5rem;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--col-light);
    background: var(--gradient-col);
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}

@media (max-width: 500px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top {
    min-height: 100vh;
}

#color-options {
    all: unset;
    display: flex;
    gap: 1rem;
    position: absolute;
    inset: 3rem auto auto auto;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.298);
    padding: 1rem;
    border-radius: var(--border-radius);
}

#color-options > input[type="radio"] {
    appearance: none;
    margin: 0;
    aspect-ratio: 1 / 1;
    width: min(3rem, 20vw);
    background: var(--option-col);
    outline: 0px solid var(--col-light);
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.075s ease-in-out;
}

#color-options > input[type="radio"]:checked {
    outline: 4px solid rgba(255, 255, 255, 0.678);
    outline-offset: 3px;
}

#pinkblue {
    --option-col: linear-gradient(10deg, var(--color-pink), var(--color-blue));
}

#green {
    --option-col: linear-gradient(10deg, var(--color-green), var(--color-green-light));
}

#red {
    --option-col: linear-gradient(10deg, var(--color-red-dark), var(--color-red));
}

:root:has(#pinkblue:checked) {
    --color-one: var(--color-pink);
    --color-two: var(--color-blue);
}

:root:has(#green:checked) {
    --color-one: var(--color-green);
    --color-two: var(--color-green-light);
    --col-bg: #1c382b;
    --col-bg-light: #1d6b48;
}

:root:has(#red:checked) {
    --color-one: var(--color-red-dark);
    --color-two: var(--color-red);
    --col-bg: #380b19;
    --col-bg-light: #7d1637;
}

#top-middle {
    margin: 1.5rem;
    padding: min(10%, 5rem);
    gap: 2rem;
    background: var(--gradient-gray);
    border-radius: var(--border-radius);
}

#top-transition {
    align-self: flex-end;
    min-height: 20vh;
    width: 100%;
    background: var(--col-bg);
    border-radius: 100% 100% 0 0;
}

#projects {
    background: var(--col-bg);
    padding: min(5vw, 5rem);
    padding-top: 0;
    gap: min(5vw, 5rem);
}

#projects-middle {
    display: grid;
    gap: min(5vw, 5rem);
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
    #projects-middle {
        grid-template-columns: 1fr;
    }
}

.border {
    display: grid;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: var(--border-radius);
    background-attachment: fixed;
    background-position: center;
    background-image: var(--gradient-col);
}

.project, .project-top {
    padding: min(3rem, 10vw);
    background: var(--col-bg);
    display: grid;
    gap: 2rem;
    transition: all 200ms ease-in-out;
}

.span-2 {
    grid-column: span 2;
}

.project {
    border-radius: 1.3rem;
}

.project-top {
    border-radius: 1.3rem 1.3rem 0 0;
}

.project-bottom {
    width: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
}

 .project:hover, 
 .project-top:hover, 
 .border:hover > .project-top {
    background-color: var(--gradient-col);
    transform: scale(1.04);
}

@media (max-width: 800px) {
    .span-2 {
        grid-column: auto;
    }
}