:root {
    --col-bg: rgb(20, 14, 30);
    --col-bg-light: rgb(38, 25, 60);
    --col-light: rgb(237, 247, 248);

    --col-trans1: rgba(255, 255, 255, 0.298);
    --col-trans2: rgba(255, 255, 255, 0.678);

    --col-darkblue: rgb(31, 0, 153);
    --col-pink: rgb(173,14,95);
    --col-sky1: #efffff;
    --col-sky2: #2793ff;
    --col-sky3: #412b66;
    --col-darkred: rgb(44, 7, 34);
    --col-red: rgb(247, 66, 66);
    --col-orange: rgb(176, 36, 23);
    --col-yellow: rgb(244, 217, 80);
    --col-lightblue: rgb(86, 254, 229);

    --gradient-col: linear-gradient(10deg, var(--color-one), var(--color-two));
    --gradient-gray: linear-gradient(var(--col-bg-light), var(--col-bg));
    
    --border-radius: 1.5rem;
    --colors-inset: 3rem auto auto auto;

    color-scheme: dark;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--col-light);
    background: var(--gradient-col);
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}

@media (max-width: 500px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top {
    min-height: 100vh;
}

#top-top {
    --bg-col: var(--col-trans1);

    position: absolute;
    inset: 3rem auto auto auto;
    transition: inset 500ms cubic-bezier(.7,-0.67,.37,1.59);
}

body.themes-hidden #top-top {
    inset: -5rem auto auto auto;
}

#arrow {
    fill: var(--col-trans2);
    transition: transform 500ms;
}

body.themes-hidden #arrow {
    transform: rotate(180deg);
}

#collapse-button {
    margin: 0 auto unset auto;
    background-color: var(--bg-col);
    border: 0;
    border-radius: 0 0 1rem 1rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

#color-options {
    display: flex;
    gap: 1rem;
    width: fit-content;
    background-color: var(--bg-col);
    padding: 1rem;
    border-radius: var(--border-radius);
}

#color-options > input[type="radio"] {
    appearance: none;
    margin: 0;
    aspect-ratio: 1 / 1;
    width: min(3rem, 20vw);
    background: var(--option-col);
    outline: 0px solid var(--col-light);
    border-radius: 30%;
    cursor: pointer;
    transition: outline 0.075s ease-in-out;
}

#color-options > input[type="radio"]:checked {
    outline: 4px solid rgba(255, 255, 255, 0.678);
    outline-offset: 3px;
}

#pinkblue {
    --option-col: linear-gradient(10deg, var(--col-pink), var(--col-darkblue));
}

#green {
    --option-col: linear-gradient(10deg, var(--col-sky1), var(--col-sky2) 45%, var(--col-sky3) 90%);
}

#red {
    --option-col: linear-gradient(10deg, var(--col-darkred), var(--col-red));
}

#yellow {
    --option-col: linear-gradient(10deg, var(--col-orange), var(--col-yellow));
}

#blue {
    --option-col: linear-gradient(10deg, var(--col-darkblue), var(--col-lightblue));
}

:root:has(#pinkblue:checked) {
    --color-one: var(--col-pink);
    --color-two: var(--col-darkblue);
}

:root:has(#green:checked) {
    --gradient-col: linear-gradient(10deg, var(--col-sky1), var(--col-sky2) 45%, var(--col-sky3));
    --col-bg: #063a60;
    --col-bg-light: rgb(15, 90, 131);
}

:root:has(#red:checked) {
    --color-one: var(--col-darkred);
    --color-two: var(--col-red);
    --col-bg: #380b19;
    --col-bg-light: #7d1637;
}

:root:has(#yellow:checked) {
    --color-one: var(--col-orange);
    --color-two: var(--col-yellow);
    --col-bg: #421f12;
    --col-bg-light: #5f2915;
}

:root:has(#blue:checked) {
    --color-one: var(--col-darkblue);
    --color-two: var(--col-lightblue);
    --col-bg: #0c172f;
    --col-bg-light: #0f2657;
}

#top-middle {
    margin: 1.5rem;
    padding: min(10%, 5rem);
    gap: 2rem;
    background: var(--gradient-gray);
    border-radius: var(--border-radius);
    cursor: default;
}

#top-transition {
    align-self: flex-end;
    min-height: 30vh;
    width: 100%;
    background: var(--col-bg);
    border-radius: 100% 100% 0 0;
}

#projects {
    background: var(--col-bg);
    padding: min(5vw, 5rem);
    padding-top: 0;
    gap: min(5vw, 5rem);
}

#projects-middle {
    display: grid;
    gap: min(5vw, 5rem);
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
    #projects-middle {
        grid-template-columns: 1fr;
    }
}

.border {
    display: grid;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: var(--border-radius);
    background-attachment: fixed;
    background-position: center;
    background-image: var(--gradient-col);
}

#top-transition::after {
    filter: blur(2.5rem);
}

.project, .project-top {
    padding: min(3rem, 10vw);
    background: var(--col-bg);
    display: grid;
    gap: 2rem;
    transition: all 200ms ease-in-out;
}

.span-2 {
    grid-column: span 2;
}

.project {
    border-radius: 1.3rem;
}

.project-top {
    border-radius: 1.3rem 1.3rem 0 0;
}

.project-bottom {
    width: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
}

 .project:hover, 
 .project-top:hover, 
 .border:hover > .project-top {
    background-color: var(--gradient-col);
    transform: scale(1.04);
}

@media (max-width: 800px) {
    .span-2 {
        grid-column: auto;
    }
}