@import "tailwindcss";
@import "@nuxt/ui";

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend.ttf");
}

@theme {
    --font-sans: "Lexend";
}

.wordle-tile {
    @apply w-[2.3em] h-[2.3em] flex items-center justify-center text-2xl sm:text-3xl text-black dark:text-white font-semibold border-2 rounded-sm
}

.wordle-empty {
    @apply border-default
}

.wordle-guess {
    @apply light:bg-elevated border-accented
}

.wordle-correct {
    @apply light:text-inverted border-green-500 bg-green-400 dark:border-green-400 dark:bg-green-500
}

.wordle-wrong-position {
    @apply light:text-inverted border-amber-400 bg-amber-300 dark:border-amber-300 dark:bg-amber-400
}

.wordle-wrong {
    @apply light:text-inverted border-neutral-600 bg-neutral-500 dark:border-accented dark:bg-elevated
}